*.log
Database/*
*.pyc
dist/
unitcell.egg*
*.ipynb_checkpoints*
*.nbc
*.nbi
config.json

.venv/*

# Ignore generated test files
.pytest_cache/*
unitcell/analysis/tests/*.i
unitcell/analysis/tests/*result*.e
unitcell/analysis/tests/*.e.*
unitcell/analysis/tests/*homogenization.e
unitcell/analysis/tests/*dd_sol*
unitcell/analysis/tests/*krylov_sol*
unitcell/geometry/tests/*
unitcell/mesh/tests/*.e
tests/analysis/resources/*homog*.*
docs/build
docs/source/_autosummary
*.rslt 
*.inp
*.diatom
*.tar
*.zip
tests/meshconvergence/*
**/in.json
**/out.json
.conda
tests/geometry/resources/unitcellDefinition.json
tests/geometry/resources/unitcellProperties.json
unitcell/mesh/tests/test.npz
unitcell/mesh/tests/test_elastic_homogenization.json
unitcell/mesh/tests/test_elastic_results.npz
